
@import '../../../../../components/variables.css';


.filters__filterWrap>div {
  width: 100%;
}

.filters__filterItem {
  width: 60%;
  padding: 3px;
  border: 2px solid #373277;
  border-radius: 8px;
  box-shadow: 5px 4px 16px #666;
  transition-property: width;
  transition-duration: 0.8s;
  outline: none;
}

.filters__filterItem:focus {
  width: 97%;
  box-shadow: 1px 4px 15px #2256D6;
}

.autocompleteItem {
  color: black;
  padding: 2px 6px;
  cursor: pointer;
}

.autocompleteItem:hover {
  background: rgba(220, 220, 220, 0.7);
  border-radius: 5px;
}