
@import '../../components/variables.css';

.root {
  padding-left: 20px;
  padding-right: 20px;
}

.container {
  margin: 0 auto;
  padding: 0 0 40px;
  max-width: var(--max-content-width);
}


.todayDate {
  padding: 0 0 0 3%;
  font-size: 1.5em;
  font-weight: bold;
}

.filters__item {
  display: inline-block;
  width: 30%;
  margin: 0 0 0 3%;
}

.filters__filterWrap>div {
  width: 100%;
}

.filters__filter {
  width: 60%;
  padding: 3px;
  border: 2px solid #373277;
  border-radius: 8px;
  box-shadow: 5px 4px 16px #666;
  transition-property: width;
  transition-duration: 0.8s;
  outline: none;
}

.filters__filter:focus {
  width: 97%;
  box-shadow: 1px 4px 15px #2256D6;
}

.autocompleteItem {
  color: black;
  padding: 2px 6px;
  cursor: pointer;
}

.autocompleteItem:hover {
  background: rgba(220, 220, 220, 0.7);
  border-radius: 5px;
}

.townWeatherList__noInfoWrap {
  margin: 50px 0 0;
  text-align: center;
}

.townWeatherList__noInfo {
  font-weight: bold;
  font-size: 2em;
}

.townWeatherItem {
  display: inline-block;
  width: 27%;
  margin: 3% 0 0 3%;
  padding: 13px;
  border: 3px solid #373277;
  border-radius: 30px;
  box-shadow: 10px 10px 10px #666;
}

.townWeatherItem__town,
.townWeatherItem__dayTemp,
.townWeatherItem__nightTemp,
.townWeatherItem__weatherItem {
  float: left;
  margin: 0;
}

.townWeatherItem__iconWrap {
  float: left;
  width: 65px;
  height: 65px;
  margin: 0 10px 5px 0;
  border-radius: 15px;
}

.townWeatherItem__icon {
  display: block;
  width: 100%;
}

.townWeatherItem__town {
  width: 65%;
  height: 35px;
  font-weight: bold;
}

.townWeatherItem__dayTemp {
  font-weight: bold;
  font-size: 1.5em;
  cursor: pointer;
}

.townWeatherItem__nightTemp {
  font-weight: bold;
  margin: 7px 0 0 10px;
  color: #666;
  cursor: pointer;
}

.townWeatherItem__weatherItem {
  width: 100%;
  font-size: 0.8em;
}

.townWeatherItem__weatherItemTitle {
  color: #666;
}

.townWeatherItem__link {
  color: black;
  text-decoration: none;
  transition: 0.4s;
}

.townWeatherItem__link:hover {
  color: #2256D6;
}