
@import '../../../../../components/variables.css';

.weatherItem {
  display: inline-block;
  width: 27%;
  margin: 3% 3% 0 0;
  padding: 13px;
  background: lightgrey;
  border-radius: 15px;
  color: black;
  transition-duration: 0.8s;
}

.weatherItem:hover {
  box-shadow: 1px 2px 17px #2256D6;
}

.weatherItem__town,
.weatherItem__dayTemp,
.weatherItem__nightTemp,
.weatherItem__weatherIndicator {
  float: left;
  margin: 0;
}

.weatherItem__iconWrap {
  float: left;
  width: 65px;
  height: 65px;
  margin: 0 10px 5px 0;
  border-radius: 15px;
}

.weatherItem__icon {
  display: block;
  width: 100%;
}

.weatherItem__town {
  width: 65%;
  height: 35px;
  font-weight: bold;
}

.weatherItem__dayTemp {
  font-weight: bold;
  font-size: 1.5em;
  cursor: pointer;
}

.weatherItem__nightTemp {
  font-weight: bold;
  margin: 8px 0 0 10px;
  color: #666;
  cursor: pointer;
}

.weatherItem__weatherIndicator {
  width: 100%;
  font-size: 0.8em;
}

.weatherItem__weatherIndicatorTitle {
  color: #666;
}
