
@import '../variables.css';

:root {
  --brand-color: #61dafb;
}

.root {
  background: #373277;
  color: #fff;
}

.container {
  margin: 0 auto;
  padding: 20px 0;
  max-width: var(--max-content-width);
}

.brand {
  display: inline-block;
  width: 15%;
}

.brand__logoImg {
  display: block;
  width: 110px;
}

.banner {
  display: inline-block;
  width: 60%;
  text-align: center;
}

.banner__title {
  margin: 0;
  padding: 10px;
  font-weight: normal;
  font-size: 4em;
  line-height: 1em;
}

.banner__desc {
  padding: 0;
  color: rgba(255, 255, 255, 0.5);
  font-size: 1.25em;
  margin: 0;
}

.contacts {
  display: inline-block;
  width: 25%;
}

.contacts__title {
  float: left;
  margin: 0 0 3px 50px;
  font-weight: bold;
}

.contacts__block {
  float: left;
  width: 100%;
  margin: 3px 0 0 50px;
}

.contacts__blockName {
  float: left;
  width: 30%;
}

.contacts__blockNameText{
  font-size: 0.8em;
  font-weight: bold;
}

.contacts__blockContent {
  float: left;
  width: 70%;
}

.contacts__blockContentText {
  display: block;
  margin: 5px 0 0;
  font-size: 0.7em;
}